body {
    background-color: rgb(254, 232, 161);
  }
  h1 {
    color: rgb(30, 94, 243);
    border: 3px solid purple;
    padding: 10px;
  }
  p {
    color: rgb(253, 70, 70);
  }
  ul {
    color: rgb(255, 99, 125);
    font: monaco;
  }  